@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --main-color: #d4ecdd;
  --text-color: #152d35;
  --button-color: #345b63;
  --other-color: #112031;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: var(--main-color);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.main-title {
  margin: 15px;
  font-size: 25px;
  text-align: center;
  color: var(--text-color);
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.book-card {
  background-color: #fff;
  width: 275px;
  height: 350px;
  border-radius: 10px;
  margin: 10px;
  padding: 7px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-card > * {
  margin: 0;
}

.book-card .remove-book {
  align-self: flex-end;
  margin: 0;
  border: none;
  background: none;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.4s;
}
.book-card .remove-book:hover {
  transform: rotate(90deg);
}

.book-title {
  margin: 15px auto;
  text-align: center;
}

.book-image {
  height: 150px;
  width: 95px;
  border-radius: 3px;
  margin: 0 auto;
  display: block;
}

.book-author,
.book-pages {
  font-size: 17px;
  margin: 15px;
}

.read-container {
  font-size: 17px;
  margin: 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 0;
}

.switch-container {
  margin: 20px 5px;
}

/* ! Switch Start*/
.create-book:hover {
  filter: brightness(90%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 13.6px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10.4px;
  width: 10.4px;
  left: 1.6px;
  bottom: 1.6px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10.4px);
  -ms-transform: translateX(10.4px);
  transform: translateX(10.4px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 13px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ! Switch End */

.open-form {
  border-radius: 50%;
  padding: 20px;
  border: none;
  outline: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--button-color);
  transition: 0.3s;
  cursor: pointer;
  z-index: 5;
}

.open-form:hover {
  transform: scale(1.1);
}

@media all and (max-width: 600px) {
  .open-form {
    padding: 10px;
  }
}

.material-icons {
  color: white !important;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  pointer-events: none;
}

.form-container {
  z-index: 11;
  margin: auto;
  width: 100%;
  max-width: 300px;
  max-height: 405;
  background: #fff;
  border-radius: 7px;
  padding: 7px;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
}

form {
  display: flex;
  flex-direction: column;
}

.close-form {
  border: none;
  background: none;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.4s;
}

.form-container .close-form {
  align-self: flex-end;
}

.close-form:hover {
  transform: rotate(90deg);
}

.form-title {
  align-self: center;
  font-size: 27px;
  margin: 15px;
}

.input {
  border: 0;
  outline: 0;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 6px 10px;
  min-height: 28px;
  vertical-align: middle;
  transition: background-color 0.24s, box-shadow 0.24s;
  transition-property: background-color, box-shadow;
  transition-duration: 0.24s, 0.24s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  margin: 10px;
  padding: 7px;
}

.input:last-of-type {
  margin: 10px 10px 0;
}

.input:focus {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(87 64 60 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

.error {
  position: relative;
  animation: shake 0.1s linear;
  animation-iteration-count: 5;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(212 76 58 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

@keyframes shake {
  0% {
    left: -3px;
  }

  100% {
    right: -3px;
  }
}

.checkbox {
  margin: 0 10px 15px 11.5px;
}

.checkbox input {
  vertical-align: middle;
}

.create-book {
  border: none;
  padding: 7px;
  font-size: 17px;
  align-self: center;
  background: #ffb703;
  border-radius: 4px;
  font-weight: 500;
  transition: 0.2s;
  width: 100px;
  /* bottom: 7px;
  position: relative; */
}
